# docker-compose up --build --exit-code-from app
version: '2.2'
services:
  app:
    environment:
    - DISPLAY
    - LICENSE
    image: alpine:3.10
    working_dir: /tmp
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: > 
      /bin/sh -c "
        if [ "$$LICENSE" = "BLAH" ]; then
          echo verified;
          echo szia;
          exit 0;
        else
          echo wrong;
          exit 1;
        fi;
      "
      